.nav-item{

    padding: 5px;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    display: inline-block;
    border:none;
    background-color:white;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }